.header{
    border: 1px solid #ECECEC;
}

.main-header{
    display: flex;
    align-items: center;
}

.header-nav{
     margin-left: 93px;
}

.site-nav{
    display: flex;

    & &__item:not(:last-child){
    margin-right: 50px;
}

&__link{
    @include font(14px, 1.14, 500, 0.02em);
    display: block;
    padding-top: 32px;
padding-bottom: 32px;
    color:var(--header-color);
}
}

.connect-list{
    display: flex;
    margin-left: auto;

    & &__item:not(:last-child){
    margin-right: 50px;
}

&__link{
    @include font(14px, 1.14, 500, 0.02em);
    display: flex;
    justify-content: center;
    align-items: center;
box-sizing: border-box;
    padding-top: 32px;
padding-bottom: 32px;
    color: var(--header-content-color);
}

&__link:active,
&__link:hover,
&__link:focus{
box-sizing: border-box;
  color: var(--header-accent-color);  
}

&__mail-icon{
fill: currentColor;
    margin-right: 10px;
 
}

&__tel-icon{
    fill: currentColor;
      margin-right: 10px;
}

}


