body{
    font-family: Roboto , Tahoma , sans-serif;
}
.link{
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &--grey{
fill: #AFB1B8;
}
  
&--white{
fill: #FFFFFF;
}

&:hover, 
&:focus{
    color: var(--link-color);
}

}



